@model TrackEmployeeAbsence.ViewModel.EmpDateRangeViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <table>
            <tr>
                <td>Start Date</td>
                <td>
                    @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.HiddenFor(model => model.startDate)
                </td>
                <td>End Date</td>
                <td>
                    @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.HiddenFor(model => model.endDate)
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var date = new Date();
        var maxdate = date.getDate();
        $(function () {
            $(".datepicker").datepicker({
                defaultDate: maxdate
            });
        });



    </script>
}
